@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background: #080808e8;
    color: #fff;
}

/* statr of Index page */
#header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    z-index: 999;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

section {
    min-height: 100vh;
    padding: 2rem;
    padding-top: 5rem;
}

.container {
    padding: 3px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
    height: 5rem;

}

.logo {
    padding-left: 1rem;
    padding-top: 1.3rem;
    width: 10.2rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #02a2ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;

}

#menu-icon {
    font-size: 2rem;
    color: #fff;
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.home-img {
    padding-bottom: 6.5rem;
}

.home-img img {
    width: 35vw;
}

.home-content p {
    font-size: 1rem;
}

.home-content {
    padding-top: 5rem;

}

.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #02a2ff;
}

.home-content span {
    color: #02a2ff;
    font-size: 1.3rem;
    font-weight: 500;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 0.7rem;
    color: #fff;
    background: none;
    border: 1.5rem solid #0808082d;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}

.social-media a:hover {
    background: #02a2ff;
    color: #fff;
    box-shadow: 0 0 1rem;
}

.btn {
    display: inline-flex;
    padding: 1rem 2rem;
    background: #02a2ff;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #02a2ff;
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* End of index page */


/* ************************************************************** */



/* Start of about page */

.abtheader {
    margin-top: 25px;
    text-align: center;
    font-size: larger;
}

.abtheader span {
    color: #02a2ff;
}

.container1 {
    margin-top: 15px;
    display: flex;
}

.container1 .education {
    margin-right: 40px;
    padding-left: 20px;
    width: 50%;
    border: #0808082d 10px solid;
    background-color: #0808082d;
    border-radius: 13px;
    transition: 0.7s ease-in;
}

.container1 .education:hover {
    border-color: #02a2ff;
    transform: scale(1.06);
}

.container1 .education h1 {
    text-align: center;
    color: #02a2ff;
    padding-bottom: 15px;
}

.container1 .achievements {
    padding-left: 20px;
    width: 50%;
    border: #0808082d 10px solid;
    background-color: #0808082d;
    border-radius: 13px;
    transition: 0.7s ease-in;
}

.container1 .achievements:hover {
    border-color: #02a2ff;
    transform: scale(1.06);
}

.container1 .achievements h1 {
    text-align: center;
    color: #02a2ff;
    padding-bottom: 15px;
}

.container2 {
    margin-top: 20px;
    margin-left: 300px;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: #0808082d 10px solid;
    border-radius: 13px;
    background-color: #0808082d;
    transition: 0.7s ease-in;
}

.container2:hover {
    border-color: #02a2ff;
    transform: scale(1.06);
}

.subcontainer2 {
    display: flex;
}

.container2 .skills {
    padding-left: 205px;
    padding-bottom: 20px;
}

.container2 .skills2 {
    padding-left: 35px;
}

.header01 {
    padding-bottom: 15px;
    text-align: center;
    color: #02a2ff;
}

.hContainer{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.title::before, .title::after{
    content: "";
    height: 2px;
    background-color: #02a2ff;
    display: block;
}

.summary {
    background-color:#02a2ffcc;
    border: 1.5px solid #0808082d;
    border-radius: 20px;
    padding: 15px;
}

.summary h2{
    text-decoration:none;
}

.containerr{
    display: flex;
}

.interests {
    margin-right: 15px;
    background-color:#02a2ffcc;
    border: 1.5px solid #0808082d;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
}
 .interests h2{
    text-decoration:none;  
 }

.hobbies {
    background-color:#02a2ffcc;
    border: 1.5px solid #0808082d;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
}

.likes {
    background-color:#02a2ffcc;
    border: 1.5px solid #0808082d;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
}

.hobbies h2{
    text-decoration:none;  
 }

.likes span{
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-weight: 700;
}

.likes h2{
    text-decoration:none;  
 }

 .conclusion {
    margin-top: 20px;
    padding: 10px;
    background-color: #02a2ffcc;
    margin-bottom: 20px;
    border: #02a2ff solid 1px;
    border-radius: 10px;
 }

 .button1{
    border: #02a2ff solid 2px;
    padding: 5px;
    background-color: #02a2ff;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    box-shadow: #02a2ff 0 0 2rem;
    transition: ease-out 0.5s;
 }

 .button1:hover{
    box-shadow: none;
 }



/* End of about page */



/* ************************************************************** */



/* Start of services page */
.services h2 {
    margin-bottom: 2rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background-color: #0808082d;
    padding: 3rem 2rem 4rem;
    border-radius: 1rem;
    text-align: center;
    border: 0.3rem solid #0808082d;
    transition: 0.5s ease-out;
}

.services-container .services-box:hover {
    border-color: #02a2ff;
    transform: scale(1.04);
}

.services-box p {
    font-size: 1.2rem;
    margin: 1rem 0 1.5rem;
}

.services-box h3 {
    font-size: 2.3rem;
}

.services-box i {
    font-size: 5rem;
    color: #02a2ff;
}

.heading {
    padding-top: 3rem;
}

.heading span {
    color: #02a2ff;
}


/* End of services page */


/* ************************************************************** */


/* Start of portfolio page */

.portfolio {
    background-color: #625e5e12;
}

.portfolio h2 {
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.4rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 0.4rem #02a2ff;
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 1.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
}

.portfolio-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #080808;
}

/* End of portfolio page */


/* ************************************************************** */


/* Start of contact page */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form .btn {
    display: inline-flex;
    padding: 1rem 2rem;
    background: #02a2ff;
    border: #02a2ff solid .1rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #02a2ff;
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: .7s ease;
}

.contact form .btn:hover {
    box-shadow: none;
}

.contact form {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background: #080808;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* End of conatct page */


/* ************************************************************** */


/* Start of footer */
.footer {

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items:center;
    flex-wrap: wrap;
    padding: .8rem 4%;
    background: #080808;
}

.footer .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 0.1rem;
    color: #fff;
    background: none;
    border: 1.5rem solid #0808082d;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}

.footer .footer-text {
    text-align: center;
    justify-content: center;

}

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    background: #02a2ff;
    border-radius: .4rem;
}

.footer-iconTop a i {
    font-size: 2rem;
    color: #fff;
}

/* End of footer */